<!DOCTYPE html>  
<html lang="en">  
<head>  
  <meta charset="utf-8" />  
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />  
  <title>@ViewData["Title"] - PokemonGenerator</title>  
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />  
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />  
  <link rel="stylesheet" href="~/PokemonGenerator.styles.css" asp-append-version="true" />  
  @RenderSection("Styles", required: false)  
</head>  
<body class="d-flex flex-column min-vh-100">  
  <header>  
      <nav class="poke-navbar">  
          <div class="poke-navbar-left">  
              <img src="~/images/pokeball-icon.png" class="nav-pokeball" />  
          </div>  
          <div class="poke-navbar-center">  
              <a class="poke-nav-btn" asp-area="" asp-controller="Home" asp-action="Index">Home</a>  
              <a class="poke-nav-btn" asp-area="" asp-controller="Trade" asp-action="Index">Trading</a>  
              <a class="poke-nav-btn" asp-area="" asp-controller="Pokemon" asp-action="Index">Inventory</a>  
              <a class="poke-nav-btn" asp-area="" asp-controller="Pokemon" asp-action="ViewStored">Pokemon</a>
          </div>  
          <div class="poke-navbar-right">  
              @if (!User.Identity.IsAuthenticated)  
              {  
                  <a class="poke-login-btn" asp-area="" asp-controller="Account" asp-action="Login">Login</a>  
                  <a class="poke-nav-btn" asp-area="" asp-controller="Account" asp-action="Register">Register</a>  
              }  
              else  
              {  
                  <span class="nav-link" style="padding: 3vh; color: white;">Logged in as <strong>@User.Identity.Name</strong></span>  
                  <a class="poke-login-btn" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>  
              }  
          </div>  
      </nav>  
  </header>  
  <div class="container flex-grow-1">  
      <main role="main" class="pb-3">  
          @RenderBody()  
      </main>  
  </div>  
  <footer class="border-top text-muted mt-auto fixed-bottom">  
      <div class="container">  
          &copy; 2025 - PokemonGenerator - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>  
      </div>  
  </footer>  
  <script src="~/lib/jquery/dist/jquery.min.js"></script>  
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>  
  <script src="~/js/site.js" asp-append-version="true"></script>  
  @await RenderSectionAsync("Scripts", required: false)  
</body>  
</html>
