@using PokeApiNet;
@{
    ViewData["Title"] = "Pokemon Generator";

    Pokemon pokemon = ViewBag.Pokemon as Pokemon;
}

<h2>@ViewData["Title"]</h2>

<body>
    <form asp-controller="Pokemon" asp-action="GetRandomPokemon" method="get">
        <button type="submit">Get Random Pokémon</button>
    </form>

    @if (ViewBag.Pokemon != null)
    {
        <div>
            Result: @pokemon.Id - @pokemon.Name
        </div>
    }
    else if (ViewBag.Error != null)
    {
        <p style="color: red;">@ViewBag.Error</p>
    }
</body>