@{
    ViewData["Title"] = "Home";
}

@section Styles {
    <link rel="stylesheet" href="~/css/home.css" />
}

<div class="home-main-container">
    <img src="~/images/pokemon-logo.png" alt="Pokemon" class="poke-logo-main" />
    <div class="poke-slogan">TRADING<br/>SIMULATOR</div>
    <div class="poke-timer-container">
        <img src="~/images/pokemon-egg.png" alt="Pokemon Egg" class="poke-egg-img" />
        <img src="~/images/pokeball-icon.png" alt="Pokeball" class="poke-timer-ball" />
    </div>
</div>


